<div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Design Thinking</h4>
    </div>
    <div class="card-body">
        <h5 class="card-title">Repeatable Innovation</h5>
        <h6 class="card-subtitle mb-2 text-muted">Repeatable processes for innovation.</h6>
        <p class="card-text">Design thinking, a problem-solving methodology, places a strong focus on empathy, ideation, and prototyping to generate innovative solutions. It centers on understanding user needs, questioning assumptions, and iterating based on feedback. With a human-centric mindset, design thinking encourages collaboration and creativity, resulting in effective and user-friendly designs across diverse fields and sectors.
        </p>
	<a href="/pages/innovation/" class="card-link">learn more</a>
    </div> <!-- card-body -->
</div> <!-- card -->
