<div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Product Management</h4>
    </div>
    <div class="card-body">
        <h5 class="card-title">Technology and Design</h5>
        <h6 class="card-subtitle mb-2 text-muted">Better products with process and empathy.</h6>
        <p class="card-text">Product management is the process of transforming an idea into a successful product. It requires understanding customer needs, defining product requirements, managing the development process, and launching and marketing the product.
        </p>
	<a href="/pages/product/" class="card-link">learn more</a>
    </div> <!-- card-body -->
</div> <!-- card -->
