{% load i18n %}
{% load account %}
{% load groups %}
<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="/"
       class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <i class="bi bi-arrow-up-right-square-fill"></i>[pramari]
    </a>
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
            <a href="/" class="nav-link px-2 link-secondary"><i class="bi-house-door"></i>Home</a>
        </li>
        <!-- <li><a href="/news/" class="nav-link px-2 link-dark"><i class="bi-newspaper"></i>News</a></li> -->
        <li>
            <a href="/pages/about/" class="nav-link px-2 link-dark"><i class="bi-info-square"></i>About</a>
        </li>
    </ul>
    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"
          action="{% url 'search_result' %}"
          method="get">
        <input name="q"
               type="search"
               class="form-control"
               placeholder="Search..."
               aria-label="Search">
    </form>
    {% if user.is_authenticated %}
        <div class="dropdown text-end">
            <a href="#"
               class="d-block link-dark text-decoration-none dropdown-toggle"
               id="dropdownUser1"
               data-bs-toggle="dropdown"
               aria-expanded="false">
                <img src="https://github.com/mdo.png"
                     alt="mdo"
                     width="32"
                     height="32"
                     class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                <li>
                    <a class="dropdown-item" href="{% url "user-detail" %}">Account</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url "user-profile" %}">Profile</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item" href="{% url "account_email" %}"><i class="bi-envelope"></i> {% trans "EMail Connections" %}</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url "socialaccount_connections" %}"><i class="bi-gear-wide-connected"></i> {% trans "Social Connections" %}</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url "account_logout" %}"><i class="bi-door-open"></i> {% trans "logout" %} {% user_display user %}</a>
                </li>
            </ul>
        </div>
        <!-- /dropdown -->
    {% else %}
        <button type="button" class="btn btn-link btn-sm me-2">
            <a href="{% url "account_login" %}"><i class="bi-file-person"></i> {% trans "login" %}</a>
        </button>
        <button type="button" class="btn btn-light btn-sm me-2">
            <a href="{% url "account_signup" %}"><i class="bi-signpost"></i> {% trans "sign up" %}</a>
        </button>
    {% endif %}
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 dropdown-menu">
        <li class="nav-item dropdown">
            <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
                    id="bd-theme"
                    type="button"
                    aria-expanded="false"
                    data-bs-toggle="dropdown"
                    data-bs-display="static"
                    aria-label="Toggle theme (dark)">
                <svg class="bi my-1 theme-icon-active">
                    <use href="#moon-stars-fill"></use>
                </svg>
                <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end"
                aria-labelledby="bd-theme-text">
                <li>
                    <button type="button"
                            class="dropdown-item d-flex align-items-center"
                            data-bs-theme-value="light"
                            aria-pressed="false">
                        <svg class="bi me-2 opacity-50 theme-icon">
                            <use href="#sun-fill"></use>
                        </svg>
                        Light
                        <svg class="bi ms-auto d-none">
                            <use href="#check2"></use>
                        </svg>
                    </button>
                </li>
                <li>
                    <button type="button"
                            class="dropdown-item d-flex align-items-center active"
                            data-bs-theme-value="dark"
                            aria-pressed="true">
                        <svg class="bi me-2 opacity-50 theme-icon">
                            <use href="#moon-stars-fill"></use>
                        </svg>
                        Dark
                        <svg class="bi ms-auto d-none">
                            <use href="#check2"></use>
                        </svg>
                    </button>
                </li>
                <li>
                    <button type="button"
                            class="dropdown-item d-flex align-items-center"
                            data-bs-theme-value="auto"
                            aria-pressed="false">
			    <!-- <div class="bi me-2 opacity-50 theme-icon"><i class="circle-half"></i></div> -->
			<svg class="bi me-2 opacity-50 theme-icon"> <use href="#circle-half"></use> </svg>
			<!-- <div class="bi ms-auto d-none"><i class="check2">Auto</i></div> -->
			<svg class="bi ms-auto d-none"> <use href="#check2"></use> </svg> 
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>
