{% extends "base.html" %}
{% load i18n %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">{% trans "Home" %}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{% trans "Github Tools" %}</li>
            </ol>
        </nav>
    </nav>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if user_repos %}
                <h1>User repositories</h1>
                <ul>
                    {% for repo in user_repos %}
                        <li>
                            <a href="{% url "github" %}{{ repo.full_name }}">{{ repo.full_name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                {{ repository }}
                <a href="{% url 'github' %}"
                   class="btn btn-secondary btn-sm"
                   role="button"
                   aria-disabled="false">{% trans "Overview" %}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
