{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col">
            <div class="content">
                <div class="jumbotron">
                    <h1 class="text-center">pramari</h1>
                    <p class="text-center">
                        pramari is a tech demo. Product Management Showcase site designed specifically for those who are passionate about developing their skills and knowledge in the field of product management. At pramari.de, we're committed to providing an engaging platform where you can dive deep into the technological aspects of product management, gain hands-on experience, and learn from the best in the industry.
                    </p>
                </div>
		{% load frontpage %}
		{% for tile in tiles %}
		{{ tile }}
		{% endfor %}
                <div class="row">
                    <div class="col">{% include "partials/card.html" %}</div>
                    <!-- col -->
                    <div class="col"></div>
                    <!-- col -->
                    <div class="col"></div>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>
            <!-- content-->
        </div>
    </div>
{% endblock %}
{% block login %}{% endblock %}
